Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry/
Content/StarterContent/
Content/Mannequin/
Content/ThirdPerson/Meshes/
